@for $i from 5 through 230{
    .max-w-#{$i*5}{
        max-width: #{$i*5}px;
    }

    .min-h-#{$i*5}{
        min-height: #{$i*5}px;
    }
}

@for $i from 1 through 26{
    .w-#{$i*5}rem{
        width: #{$i*5}rem;
    }

    .px-#{$i*5}px{
        padding-left: #{$i*5}px;
        padding-right: #{$i*5}px;
    }

    .py-#{$i*5}px{
        padding-top: #{$i*5}px;
        padding-bottom: #{$i*5}px;
    }

    .p-#{$i*5}px{
        padding: #{$i*5}px;
    }
}

@for $i from 1 through 100{
    .h-#{$i*5}px{
        height: #{$i*5}px;
    }
}

@for $i from 15 through 30{
    .mt-#{$i*5}px{
        margin-top: #{$i*5}px;
    }
}