*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.presentation__div{
    background-image: url('../img/Ecommerce.png');
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}
